[user]
    name = Masaki Yoshida
    email = yoshida.masaki+restartr@gmail.com

[commit]
  template = ~/.gitmessage.txt

[color]
    ui = auto

[core]
    editor = vim
    pager = less -r

[http]
    sslVerify = false

[alias]
    co   = checkout
    ci   = commit
    ca   = commit --amend
    st   = status --short
    ft   = fetch
    fp   = fetch --prune
    br   = branch
    df   = diff
    dfc  = diff --cached
    dfw  = diff --color-words
    dfwc = diff --color-words --cached
    l    = log --pretty=format:\"%h %ar\t(%an)\t: %s\" --date=short -20
    lg   = log --pretty=format:\"%h %ar\t(%an)\t: %s\" --date=short -20 --graph

[branch "master"]
    merge  = refs/heads/master
    remote = origin

[merge]
    tool = origin

[ghq]
    root = ~/go/src
